In [1]:
import pandas as pd

# 1. Working with Json

In [2]:
df = pd.read_json("datasets/train.json")

In [3]:
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [4]:
pd.read_json("https://api.exchangerate-api.com/v4/latest/INR")

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-01-26,1737849601,0.0425
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-01-26,1737849601,0.8700
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-01-26,1737849601,1.0900
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-01-26,1737849601,4.6300
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-01-26,1737849601,0.0207
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-01-26,1737849601,1.3200
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-01-26,1737849601,2.8800
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-01-26,1737849601,0.2140
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-01-26,1737849601,0.3240
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-01-26,1737849601,0.3050

# 2. Working with SQL

In [5]:
# !pip install mysql.connector

In [6]:
import mysql.connector

In [8]:
conn = mysql.connector.connect(host = 'Localhost', user = 'root', password = '', database = 'world')

In [ ]:
pd.read_sql_query("select * from city", conn)

In [ ]:
pd.read_sql_query("select * from city where CountryCode like 'USA'", conn)

In [ ]:
pd.read_sql_query("select * from city where CountryCode like 'BGD'", conn)

In [ ]:
pd.read_sql_query("select * from country", conn)

In [ ]:
pd.read_sql_query("select * from country where Name like 'Bangladesh'", conn)

In [ ]:
pd.read_sql_query("select * from country where LifeExpectancy >= 60", conn)

In [ ]:
df = pd.read_sql_query("select * from countrylanguage", conn)

In [ ]:
df