In [1]:
import pandas as pd
import requests

In [13]:
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=0ec08320a961bef80f2cfd41b70e0386")

In [3]:
#response.json()

In [17]:
data = response.json()['results']
data

[{'adult': False,
  'backdrop_path': '/c77bO2lrTaGU4662hPeu5vsaESL.jpg',
  'genre_ids': [35],
  'id': 510452,
  'original_language': 'fr',
  'original_title': 'All Inclusive',
  'overview': 'A man goes on an all-inclusive vacation to the Caribbean and finds out he must share his room with someone else.',
  'popularity': 9.768,
  'poster_path': '/tFvwfaHpm8AJ9oWz1q3EVZfa7Rg.jpg',
  'release_date': '2019-02-13',
  'title': 'All Inclusive',
  'video': False,
  'vote_average': 3.931,
  'vote_count': 304},
 {'adult': False,
  'backdrop_path': '/riGVdQS9gXy38VoSaXXBhmR6A4h.jpg',
  'genre_ids': [878, 28, 35, 27, 10770],
  'id': 205321,
  'original_language': 'en',
  'original_title': 'Sharknado',
  'overview': 'A freak hurricane hits Los Angeles, causing man-eating sharks to be scooped up in tornadoes and flooding the city with shark-infested seawater. Surfer and bar-owner Fin sets out with his friends Baz and Nova to rescue his estranged wife April and teenage daughter Claudia.',
  'popularity': 14.484,
  'poster_path': '/atEmHkVFTSGRYt2PeCiziQqbZnI.jpg',
  'release_date': '2013-07-11',
  'title': 'Sharknado',
  'video': False,
  'vote_average': 3.9,
  'vote_count': 1581},
 {'adult': False,
  'backdrop_path': '/w3quH2ENqsoGmigWRgK8Rch3iSE.jpg',
  'genre_ids': [35],
  'id': 238930,
  'original_language': 'it',
  'original_title': 'Fuga di cervelli',
  'overview': "Five deadbeat, sex-crazed friends forge their resumes to enroll in the prestigious University of Oxford to help one of them end up with the girl he's in love with.",
  'popularity': 6.831,
  'poster_path': '/kfZXag3DkaHfakSrojG92C2R2Gy.jpg',
  'release_date': '2013-11-21',
  'title': 'Brain Drain',
  'video': False,
  'vote_average': 3.887,
  'vote_count': 437},
 {'adult': False,
  'backdrop_path': '/7hga0cArQuBqBCgt7L1LSNOcGek.jpg',
  'genre_ids': [35, 12, 14],
  'id': 9760,
  'original_language': 'en',
  'original_title': 'Epic Movie',
  'overview': "When the Pevensie siblings each follow their own path, they find themselves at Willy's Chocolate Factory. Walking through a wardrobe, they discover the world of Gnarnia, ruled by the White Bitch. Meeting up with characters such as Harry Potter and Captain Jack Swallows, the newly reunited family must team up with Aslo, a wise-but-horny lion to stop the White Bitch's army.",
  'popularity': 20.866,
  'poster_path': '/l0lGJiTzU2Ce6T31DIRWv7I0kaC.jpg',
  'release_date': '2007-01-25',
  'title': 'Epic Movie',
  'video': False,
  'vote_average': 3.9,
  'vote_count': 1541},
 {'adult': False,
  'backdrop_path': '/b2AfxdTbNifN9cAH8KVqH51Y4VS.jpg',
  'genre_ids': [27],
  'id': 94365,
  'original_language': 'en',
  'original_title': 'The Human Centipede 3 (Final Sequence)',
  'overview': 'Taking inspiration from The Human Centipede films, the warden of a notorious and troubled prison looks to create a 500-person human centipede as a solution to his problems.',
  'popularity': 28.894,
  'poster_path': '/xUk5AGcGvybPBvvMqrDPbAFAknD.jpg',
  'release_date': '2015-05-22',
  'title': 'The Human Centipede 3 (Final Sequence)',
  'video': False,
  'vote_average': 3.734,
  'vote_count': 770},
 {'adult': False,
  'backdrop_path': '/1mlos1qMlIWCM9FAAafhTdc9Tys.jpg',
  'genre_ids': [27, 53, 80],
  'id': 9544,
  'original_language': 'en',
  'original_title': 'FearDotCom',
  'overview': 'When four bodies are discovered among the industrial decay and urban grime of New York City, brash young detective Mike Reilly teams with ambitious Department of Health researcher Terry Huston to uncover the cause behind their violent and inexplicable deaths. The only common factor shared by the victims? Each died exactly 48 hours after logging onto a website called feardotcom.',
  'popularity': 9.696,
  'poster_path': '/phcd5AJvA1S45JMKYoNLhTzFwsE.jpg',
  'release_date': '2002-08-09',
  'title': 'FearDotCom',
  'video': False,
  'vote_average': 3.709,
  'vote_count': 364},
 {'adult': False,
  'backdrop_path': '/aDmXiKzMCrc4uyQifPTWCJ2vBuc.jpg',
  'genre_ids': [27, 53],
  'id': 485774,
  'original_language': 'en',
  'original_title': 'The Open House',
  'overview': 'A teenager and his mother find themselves besieged by threatening forces when they move into a new house.',
  'popularity': 12.627,
  'poster_path': '/7JwdoLcbFWaeUBxKaoFulRVK8Ja.jpg',
  'release_date': '2018-01-19',
  'title': 'The Open House',
  'video': False,
  'vote_average': 3.698,
  'vote_count': 1366},
 {'adult': False,
  'backdrop_path': '/zt5slO9dVCtXSA2dWT14qtx2kT9.jpg',
  'genre_ids': [28, 878, 53],
  'id': 7916,
  'original_language': 'en',
  'original_title': 'Far Cry',
  'overview': 'Jack Carver, a former member of the Special Forces takes the journalist Valerie Cardinal to an Island to visit her uncle Max who is working in a Military complex on the Island. As they arrive Valerie gets captured by the minions of Doctor Kr√ºger. After the destruction of his boat Jack finds out about the true purpose of the Facilities on the Island, which is the creation of genetic soldiers.',
  'popularity': 13.026,
  'poster_path': '/fOMM5tHlY6eBNnRYVttq9dU9Sqi.jpg',
  'release_date': '2008-10-02',
  'title': 'Far Cry',
  'video': False,
  'vote_average': 3.7,
  'vote_count': 300},
 {'adult': False,
  'backdrop_path': '/vTO1NvWhOR3CxrsnzZ1V8LwBjmC.jpg',
  'genre_ids': [35, 37, 12],
  'id': 10870,
  'original_language': 'fr',
  'original_title': 'Les Dalton',
  'overview': 'Joe and Averell are the eldest and youngest of the four Dalton brothers, the worst outlaws in Wild West history...',
  'popularity': 9.578,
  'poster_path': '/mWQR9eGbf9dTiceypaGKmVXzRVE.jpg',
  'release_date': '2004-11-08',
  'title': 'Lucky Luke and the Daltons',
  'video': False,
  'vote_average': 3.7,
  'vote_count': 345},
 {'adult': False,
  'backdrop_path': '/qv5zpQSx8naAm8C59DGVLMdZxbp.jpg',
  'genre_ids': [27],
  'id': 70584,
  'original_language': 'en',
  'original_title': 'Hellraiser: Revelations',
  'overview': 'Two friends in Mexico discover the Lament Configuration and unleash Pinhead, but one decides to try to survive by swapping himself with someone else. Once they go missing, family members go in search of them, but find Pinhead instead.',
  'popularity': 12.497,
  'poster_path': '/xvHvlulvXvGV6ouEsOesOEYX8Jk.jpg',
  'release_date': '2011-10-18',
  'title': 'Hellraiser: Revelations',
  'video': False,
  'vote_average': 3.547,
  'vote_count': 319},
 {'adult': False,
  'backdrop_path': '/ae9xlnkS2qb5Dy9Mtlu68AWh42O.jpg',
  'genre_ids': [14, 878, 10751, 10770],
  'id': 74849,
  'original_language': 'en',
  'original_title': 'The Star Wars Holiday Special',
  'overview': 'Luke Skywalker and Han Solo battle evil Imperial forces to help Chewbacca reach his imperiled family on the Wookiee planet - in time for Life Day, their most important day of the year!',
  'popularity': 14.288,
  'poster_path': '/eRSKviGcTqHd34vCLjcztJF6Eaw.jpg',
  'release_date': '1978-11-17',
  'title': 'The Star Wars Holiday Special',
  'video': False,
  'vote_average': 3.353,
  'vote_count': 465},
 {'adult': False,
  'backdrop_path': '/hqJfW8G8FL28rckFHuCoKPecpG9.jpg',
  'genre_ids': [878, 28, 12],
  'id': 5491,
  'original_language': 'en',
  'original_title': 'Battlefield Earth',
  'overview': 'In the year 3000, man is no match for the Psychlos, a greedy, manipulative race of aliens on a quest for ultimate profit. Led by the powerful Terl, the Psychlos are stripping Earth clean of its natural resources, using the broken remnants of humanity as slaves. What is left of the human race has descended into a near primitive state. After being captured, it is up to Tyler to save mankind.',
  'popularity': 11.758,
  'poster_path': '/wXCRuBHdJ5aTFQdsuGJFXNdo79T.jpg',
  'release_date': '2000-05-12',
  'title': 'Battlefield Earth',
  'video': False,
  'vote_average': 3.3,
  'vote_count': 857},
 {'adult': False,
  'backdrop_path': '/lcLyZzhB1ctfdH0hGBsTFrbflqP.jpg',
  'genre_ids': [28, 14, 27],
  'id': 12142,
  'original_language': 'en',
  'original_title': 'Alone in the Dark',
  'overview': 'Edward Carnby is a private investigator specializing in unexplainable supernatural phenomena. His cases delve into the dark corners of the world, searching for truth in the occult remnants of ancient civilizations. Now, the greatest mystery of his past is about to become the most dangerous case he has ever faced.',
  'popularity': 13.04,
  'poster_path': '/bSxrbVCyWW077zhtpuYlo3zgyug.jpg',
  'release_date': '2005-01-28',
  'title': 'Alone in the Dark',
  'video': False,
  'vote_average': 3.234,
  'vote_count': 612},
 {'adult': False,
  'backdrop_path': '/5V6jAFS0Q49SI07qjyFRMYlbfR9.jpg',
  'genre_ids': [35],
  'id': 13805,
  'original_language': 'en',
  'original_title': 'Disaster Movie',
  'overview': 'Over the course of one evening, an unsuspecting group of twenty-somethings find themselves bombarded by a series of natural disasters and catastrophic events.',
  'popularity': 22.199,
  'poster_path': '/22KcSCbpdAo3bhIsIiKJ1KomM9x.jpg',
  'release_date': '2008-08-29',
  'title': 'Disaster Movie',
  'video': False,
  'vote_average': 3.2,
  'vote_count': 1037},
 {'adult': False,
  'backdrop_path': '/aNUEHLNsNMprLZt6fjf5nqDq6er.jpg',
  'genre_ids': [27, 28, 53],
  'id': 11059,
  'original_language': 'en',
  'original_title': 'House of the Dead',
  'overview': 'Set on an island off the coast, a techno rave party attracts a diverse group of college coeds and a Coast Guard officer. Soon, they discover that their X-laced escapades are to be interrupted by zombies and monsters that attack them on the ground, from the air, and in the sea, ruled by an evil entity in the House of the Dead... Prequel to the House of the Dead video games.',
  'popularity': 14.479,
  'poster_path': '/lI6UBnxwHztggSq8PhLibdOe2Nd.jpg',
  'release_date': '2003-04-11',
  'title': 'House of the Dead',
  'video': False,
  'vote_average': 3.131,
  'vote_count': 390},
 {'adult': False,
  'backdrop_path': '/19ChHftp06sllxdgINPSTDIyKHw.jpg',
  'genre_ids': [28, 12, 14, 878, 53],
  'id': 14164,
  'original_language': 'en',
  'original_title': 'Dragonball Evolution',
  'overview': 'On his 18th birthday, Goku receives a mystical Dragonball as a gift from his grandfather. There are only six others like it in the whole world, and legend has it that whoever possesses all seven will be granted one perfect wish. When the arrival of a dark force triggers a tragedy, Goku and his companions are propelled into an epic quest to collect the seven Dragonballs and save the Earth from destruction.',
  'popularity': 16.479,
  'poster_path': '/ztlqrY7VgFIFmtzVsh3TPYiXCdF.jpg',
  'release_date': '2009-03-12',
  'title': 'Dragonball Evolution',
  'video': False,
  'vote_average': 2.9,
  'vote_count': 2054},
 {'adult': False,
  'backdrop_path': '/wDrs28ZYYnXVIeb87H0dCYlWiFA.jpg',
  'genre_ids': [10749, 27, 53],
  'id': 40016,
  'original_language': 'en',
  'original_title': 'Birdemic: Shock and Terror',
  'overview': "A platoon of eagles and vultures attacks the residents of a small town. Many people die. It's not known what caused the flying menace to attack. Two people manage to fight back, but will they survive Birdemic?",
  'popularity': 9.799,
  'poster_path': '/gqmcAVNNUosB55RliecFYnkWT4M.jpg',
  'release_date': '2010-02-27',
  'title': 'Birdemic: Shock and Terror',
  'video': False,
  'vote_average': 2.173,
  'vote_count': 341}]

In [19]:
df = pd.DataFrame(data).head(2)
df

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/c77bO2lrTaGU4662hPeu5vsaESL.jpg,[35],510452,fr,All Inclusive,A man goes on an all-inclusive vacation to the...,9.768,/tFvwfaHpm8AJ9oWz1q3EVZfa7Rg.jpg,2019-02-13,All Inclusive,False,3.931,304
1,False,/riGVdQS9gXy38VoSaXXBhmR6A4h.jpg,"[878, 28, 35, 27, 10770]",205321,en,Sharknado,"A freak hurricane hits Los Angeles, causing ma...",14.484,/atEmHkVFTSGRYt2PeCiziQqbZnI.jpg,2013-07-11,Sharknado,False,3.900,1581

In [22]:
df = pd.DataFrame(data)[["id", "title", "overview", "release_date", "popularity", "vote_average", "vote_count"]]
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,510452,All Inclusive,A man goes on an all-inclusive vacation to the...,2019-02-13,9.768,3.931,304
1,205321,Sharknado,"A freak hurricane hits Los Angeles, causing ma...",2013-07-11,14.484,3.900,1581
2,238930,Brain Drain,"Five deadbeat, sex-crazed friends forge their ...",2013-11-21,6.831,3.887,437
3,9760,Epic Movie,When the Pevensie siblings each follow their o...,2007-01-25,20.866,3.900,1541
4,94365,The Human Centipede 3 (Final Sequence),Taking inspiration from The Human Centipede fi...,2015-05-22,28.894,3.734,770
5,9544,FearDotCom,When four bodies are discovered among the indu...,2002-08-09,9.696,3.709,364
6,485774,The Open House,A teenager and his mother find themselves besi...,2018-01-19,12.627,3.698,1366
7,7916,Far Cry,"Jack Carver, a former member of the Special Fo...",2008-10-02,13.026,3.700,300
8,10870,Lucky Luke and the Daltons,Joe and Averell are the eldest and youngest of...,2004-11-08,9.578,3.700,345
9,70584,Hellraiser: Revelations,Two friends in Mexico discover the Lament Conf...,2011-10-18,12.497,3.547,319
10,74849,The Star Wars Holiday Special,Luke Skywalker and Han Solo battle evil Imperi...,1978-11-17,14.288,3.353,465
11,5491,Battlefield Earth,"In the year 3000, man is no match for the Psyc...",2000-05-12,11.758,3.300,857
12,12142,Alone in the Dark,Edward Carnby is a private investigator specia...,2005-01-28,13.040,3.234,612
13,13805,Disaster Movie,"Over the course of one evening, an unsuspectin...",2008-08-29,22.199,3.200,1037
14,11059,House of the Dead,"Set on an island off the coast, a techno rave ...",2003-04-11,14.479,3.131,390
15,14164,Dragonball Evolution,"On his 18th birthday, Goku receives a mystical...",2009-03-12,16.479,2.900,2054
16,40016,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,2010-02-27,9.799,2.173,341

In [23]:
df = pd.DataFrame()

In [24]:
df

Empty DataFrame
Columns: []
Index: []

In [8]:
# df = pd.DataFrame()
# for i in range(1, 492):
#     response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=0ec08320a961bef80f2cfd41b70e0386")
#     temp_df =  pd.DataFrame(response.json()['results'])[["id", "title", "overview", "release_date", "popularity", "vote_average", "vote_count"]]
#     df = df.append(temp_df, ignore_index = True)

In [9]:
# Initialize an empty DataFrame
df = pd.DataFrame()

# API key and base URL
api_key = "0ec08320a961bef80f2cfd41b70e0386"
base_url = "https://api.themoviedb.org/3/movie/top_rated"

# Make the first request to get total_pages
response = requests.get(base_url, params={"api_key": api_key, "page": 1})
if response.status_code == 200:
    data = response.json()
    total_pages = data.get("total_pages", 1)  # Get total pages from the response
else:
    print(f"Error: Failed to fetch data, Status Code: {response.status_code}")
    total_pages = 0

# Loop through all available pages
for page in range(1, total_pages + 1):
    response = requests.get(base_url, params={"api_key": api_key, "page": page})
    if response.status_code == 200:
        # Parse the response and append data to the DataFrame
        temp_df = pd.DataFrame(response.json()['results'])[["id", "title", "overview", "release_date", "popularity", "vote_average", "vote_count"]]
        df = pd.concat([df, temp_df], ignore_index=True)
    else:
        print(f"Error: Failed to fetch page {page}, Status Code: {response.status_code}")
        break

# # Save the data to a CSV file (optional)
# df.to_csv("top_rated_movies.csv", index=False)

# # Display the first few rows
# print(df.head())

In [10]:
df.shape

(9917, 7)

In [11]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,176.597,8.700,27581
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,169.924,8.689,20925
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,95.441,8.600,12624
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,131.131,8.568,16068
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,62.745,8.500,8816
...,...,...,...,...,...,...,...
9912,12142,Alone in the Dark,Edward Carnby is a private investigator specia...,2005-01-28,13.040,3.234,612
9913,13805,Disaster Movie,"Over the course of one evening, an unsuspectin...",2008-08-29,22.199,3.200,1037
9914,11059,House of the Dead,"Set on an island off the coast, a techno rave ...",2003-04-11,14.479,3.131,390
9915,14164,Dragonball Evolution,"On his 18th birthday, Goku receives a mystical...",2009-03-12,16.479,2.900,2054
9916,40016,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,2010-02-27,9.799,2.173,341

In [12]:
df.to_csv("output/top_rated_movies.csv")